body
{
    margin: 0;
    padding: 0;
    background: #2d2e29;
   
}

#mon_canvas
{
    border-left: 6px ridge #eae0c2;
    border-right: 6px ridge #eae0c2;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;

}

.aff_fusil
{
    width: 85px;
    height: 70px;
    border-radius: 4px;
    border: 2px solid black;
    display: inline-block;
}

.aff_global
{
    border: 6px ridge #eae0c2;
    background : #566963;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 75px;
    display: block;
}

#aff_score
{
    border-bottom: none;
}

#aff_info
{
    text-align: center;
    margin-top: 0px;
    border-top: none;
}
