* {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    background: #000;
    color: #fff;
}

.component {
    position: relative;
    margin-bottom: 3em;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    height: 15em;
    background-image: url("img/arbrepix.png");
    background-position: center;
    background-color: black;
    font-family: 'Lato', Arial, sans-serif;
}

.contenu {
    position: relative;
    width: 800px;
    height: 700px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 4px;
    border: 2px ridge rgba(153, 31, 0, 0.7);
    box-shadow: 0px 1px 5px rgba(153, 31, 0, 1);
}

.cercles{
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    box-shadow: 2px 0px 30px 14px #ebf7fa;
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
    .contenu {
        width: 80%;
    }
}

